@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-VF.ttf")
    format("truetype supports variations"),url("../assets/fonts/Montserrat-VF.ttf")
    format("truetype-variations");
    font-weight: 400 700 900;
}

@font-face {
    font-family: 'Switzer';
    src: url("../assets/fonts/Switzer-Variable.ttf")
    format("truetype supports variations"),url("../assets/fonts/Switzer-Variable.ttf")
    format("truetype-variations");
    font-weight: 300 500 700;
}

@font-face {
    font-family: 'Switzer Italic';
    src: url("../assets/fonts/Switzer-VariableItalic.ttf")
    format("truetype supports variations"),url("../assets/fonts/Switzer-VariableItalic.ttf")
    format("truetype-variations");
    font-weight: 300 500 700;
}






html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--Black);
}

:root {
    /* Colors */
    --White: #f3f3f3;
    --Grey: #adb4c4; 
    --Graphite: #242528;
    --DarkGrey: #1b1c1f; 
    --Black: #000000;
    --Blue: #3251ff;
    --GradientBlue: #192a88;
}

::selection {
    color: var(--Blue);
    background: var(--White);
}






/** HEADER **/

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 2rem;
    position: sticky;
    top: 0;
    background: var(--Black);
    z-index: 100;
    transition: transform 0.3s ease;
}

header.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 1.2rem;
    color: var(--White);
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background: var(--Black);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
}

.menu.active {
    transform: translateX(0);
    display: flex;
    padding-top: 80px;
}

.menu-link {
    margin: 50px;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    color: var(--White), none;
    text-decoration: none;
    cursor: pointer;
}

.menu-link-k-button {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--White), none;
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.logo-file {
    height: 30px;
}

.burger {
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    position: relative; 
    transition: all 0.2s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active span {
    background: var(--White);
}

.burger > span {
    width: 100%;
    height: 0.125rem;
    border-radius: 0rem;
    background: var(--Blue);
    transition: all 0.2s ease-in-out;
}

.burger.active > :nth-child(1) {
    transform: rotate(-45deg) translateY(0.6rem);
}

.burger.active > :nth-child(2) {
    transform: translateX(100vw);
    display: none;
}

.burger.active > :nth-child(3) {
    transform: rotate(45deg) translateY(-0.7rem);
}


/* DESKTOP MENU */

@media only screen and (min-width: 768px) {
    header {
        padding: 25px 18%;
    }

    .burger {
        display: none;
    }

    .menu {
        display: flex;
        position: unset;
        background: transparent;
        color: var(--White);
        list-style: none;
        flex-direction: row;
        height: inherit;
        width: max-content;
        gap: 2.2rem;
        font-size: 19px;
        font-weight: normal;
        align-items: center;
        transform: translateX(0);
    }

    .menu-link {
        margin: 0px;
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .menu-link-k-button {
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-decoration: none;
        color: var(--White);
        background-color: var(--Blue);
        height: 42px;
        width: 110px;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    
    .menu-link:hover {
        color: var(--Blue);
    }

    .menu-link-k-button:hover {
        color: var(--Black);
        background: var(--White);
        border: none;
    }

    .logo-file {
    height: 40px;
    }
}






/** INTRO **/

.intro {
    background: radial-gradient(circle at 50% 100%, var(--GradientBlue), var(--Black) 45%); 
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
}

.intro-text {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: var(--White);
    cursor: default;
}

.intro-bottom-text {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: var(--Grey);
    cursor: default;
}

.heading-color {
    color: var(--Blue);
    text-decoration: none;
    cursor: default;
}

.intro-buttons {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.buttons {
    padding-top: 75px;
}

.intr-button-about {
    height: 4.4rem;
    width: 15rem;
    margin-bottom: 15px;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background: transparent;
    color: var(--White);
    border-style: double;
    border-color: var(--Blue);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.intr-button-about:hover {
    background: var(--White);
    border-color: var(--White);
    color: var(--Black);
}

.intr-button-contact {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.intr-button-icon {
    margin-left: 5px;
    height: 11px;
    transition: all 0.2s ease-in-out;
}

.intr-button-contact:hover {
    background: var(--White);
    color: var(--Black);
}

.intr-button-contact:hover > .intr-button-icon  {
    filter: invert(80%)
}

.button-intro-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .intro {
    background: radial-gradient(circle at 50% 100%, var(--GradientBlue), var(--Black) 45%); 
    padding-top: 100px;
    padding-bottom: 500px;
    text-align: center;
    }
    
    .intro-text {
        width: 100%;
        margin-bottom: 25px;
        padding-left: 12%;
        padding-right: 12%;
        text-align: center;
        font-size: 88px;
    }

    .intro-bottom-text {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 19px;
        color: var(--Grey);
        cursor: default;
    }

    .intr-button-about {
        height: 4.4rem;
        width: 15rem;
        margin-right: 10px;
        font-size: 1rem;
        border-radius: 3rem;
    }

    .intr-button-contact {
        height: 4.4rem;
        width: 15rem;
        margin-left: 10px;
        font-size: 1rem;
        border-radius: 3rem;
    }
}






/*reviews*/

.reviews-section {
    padding-top: 60px;
    width: 100%;
    height: 300px;
    background: var(--White);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.testimonials-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.testimonials {
    height: 380px;
    display: flex;
    width: calc(380px);
    animation: slide 15s infinite linear;
}

.testimonial {
    width: 100%;
    flex-shrink: 0;
    text-align: left;
    padding: 20px;
    background: #f3f3f3;
}

.review-container {
    padding-left: 8%;
    width: 100%;
    flex-shrink: 0;
    text-align: left;
}

.review-top {
    display: flex;
    justify-content: space-between;
}

.review-quote {
    display: flex;
    position: absolute;
    width: 9rem
}

.review-stars {
    width: 5rem
}

.testimonial p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.review-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
}

.author {
    font-family: 'Switzer', sans-serif;
    font-weight: 500;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.review-cta {
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 370px;
    padding-bottom: 10px;
}

.review-cta-url {
    padding: 10px;
    font-family: 'BDO Grotestk', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: var(--Grey);
    transition: all 0.2s ease-in-out;
}

.review-cta-url:hover {
    color: var(--Black);
    transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .reviews-section {
        padding-top: 0px;
        width: 100%;
        height: 700px;
        background: var(--White);
        display: flex;
        align-items: center;
    }

    .review-cta {
        width: 100%;
        position: absolute;
        text-align: center;
        padding-top: 600px;
        padding-bottom: 10px;
    }
}






/*section title*/

.section-title {
    width: 100%;
    height: 200px;
}

.title-text {
    position: absolute;
    width: 100%;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: var(--White);
    text-align: center;
    padding-top: 120px;
}

.title-description {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .section-title {
        width: 100%;
        height: 240px;
    }

    .title-text {
        position: center;
        width: 100%;
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: var(--White);
        text-align: center;
        padding-top: 120px;
    }

    .title-description {
        font-size: 18px;
    }
}






/** PROJECTS **/

.projects-section {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 35px;
}

.projects {
    margin-bottom: 90px;
}

.project-img {
    height: auto;
    width: 100%;
}

.project {
    transition: all 0.2s ease-in-out;
}

.project:hover {
    filter: brightness(120%);
    transform: scale(1.015);
}

.project:hover .project-url-p-descr {
    color: var(--Grey);
    transition: all 0.2s ease-in-out;
}

.project-url-p-descr {
    color: var(--Black);
    transition: all 0.2s ease-in-out;
}

.project-url {
    color: var(--White);
    text-decoration: none;
}

.meta {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 15px;
}


@media only screen and (min-width: 768px) {
    .projects-section {
        width: auto;
        margin-left: 290px;
        margin-right: 290px;
    }

    .projects {
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 10px;
        row-gap: 69px;
        margin-bottom: 90px;
    }

    .project-img {
        height: auto;
        width: 100%;
    }

    .project {
        transition: all 0.2s ease-in-out;
    }
    
    .project:hover {
        filter: brightness(120%);
        transform: scale(1.015);
    }

    .project-url {
        color: var(--White);
        text-decoration: none;
    }

    .project-url-p {
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
    }

    .meta {
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        margin-top: 9px;
    }
}






/** PROJECTS sub **/

.project-content {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 200px;
}

.project-text-info {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.project-text-info-content {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--Grey);
}

.project-texts {
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.projects-texts-content {
    text-align: left;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--Grey);
    text-align: justify;
}

.in-project-url {
    text-decoration: none;
    color: var(--Blue);
}

.project-images {
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto;
    row-gap: 8px;
}

.prjct-img {
    height: auto; 
    width: 100%;
}

.image {
    margin-bottom: 8px;
}

.animation {
    height: auto;
    width: 100%;
}

.project-btn-content {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-btn {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-btn:hover {
    background: var(--White);
    color: var(--Black);
}

.project-btn-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .project-content {
        margin-left: 40px;
        margin-right: 40px;
    }

    .project-text-info-content {
        font-size: 1.2rem;
    }

    .projects-texts-content {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1100px) {
    .project-content {
        margin-left: 80px;
        margin-right: 80px;
    }

    .project-text-info-content {
        font-size: 1.3rem;
    }

    .projects-texts-content {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .project-content {
        margin-left: 110px;
        margin-right: 110px;
    }

    .project-text-info-content {
        font-size: 1.4rem;
    }

    .projects-texts-content {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1300px) {
    .project-content {
        margin-left: 140px;
        margin-right: 140px;
    }

    .project-text-info-content {
        font-size: 1.5rem;
    }

    .projects-texts-content {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .project-content {
        margin-left: 170px;
        margin-right: 170px;
    }

    .project-text-info-content {
        font-size: 1.6rem;
    }

    .projects-texts-content {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1500px) {
    .project-content {
        margin-left: 200px;
        margin-right: 200px;
    }

    .project-text-info-content {
        font-size: 1.7rem;
    }

    .projects-texts-content {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1600px) {
    .project-content {
        margin-left: 225px;
        margin-right: 225px;
    }

    .project-text-info-content {
        font-size: 1.8rem;
    }

    .projects-texts-content {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 1.9rem;
    }

    .projects-texts-content {
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 1900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2rem;
    }

    .projects-texts-content {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2100px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2.1rem;
    }

    .projects-texts-content {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 2300px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2.2rem;
    }

    .projects-texts-content {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 2500px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2.4rem;
    }

    .projects-texts-content {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 2700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2.5rem;
    }

    .projects-texts-content {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 2900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .project-text-info-content {
        font-size: 2.6rem;
    }

    .projects-texts-content {
        font-size: 2.6rem;
    }
}






/** PROJECTS BUTTON **/

.projects-button {
    text-align: center;
    padding-bottom: 150px;
}

.projects-button-go {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.projects-button-go:hover {
    background: var(--White);
    color: var(--Black);
}

.projects-button-go-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .projects-button-go {
        height: 4.4rem;
        width: 15rem;
        font-size: 1rem;
        border-radius: 3rem;
    }
}







/** SERVICES **/

.services-container {
    height: 2800px;
    width: auto;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 19%);
}

.services {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-auto-rows: auto;
    padding: 20px;
    gap: 10px;
    margin: 0 auto;
}

.service-box-1 {
    grid-column: span 3;
    width: 100%;
    height: 366px;
    background-color: var(--DarkGrey);
    background-image:
    radial-gradient(at 39% 23%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--Graphite) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(232,8%,15%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, var(--DarkGrey) 0px, transparent 50%);
    padding: 24px;
    text-align: left;
    align-content: end;
    transition: all 0.2s ease-in-out;   
}

.service-box-2, .service-box-5 {
    grid-column: span 2;
    width: 100%;
    height: 500px;
    background-color: var(--DarkGrey);
    background-image:
    radial-gradient(at 39% 23%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--Graphite) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(232,8%,15%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, var(--DarkGrey) 0px, transparent 50%);
    padding: 24px;
    text-align: left;
    align-content: end;
    transition: all 0.2s ease-in-out;
}

.service-box-3, .service-box-4 {
    grid-column: span 1;
    width: 100%;
    height: 500px;
    background-color: var(--DarkGrey);
    background-image:
    radial-gradient(at 39% 23%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--Graphite) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(232,8%,15%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, var(--DarkGrey) 0px, transparent 50%);
    padding: 24px;
    text-align: left;
    align-content: end;
    transition: all 0.2s ease-in-out;
}

.service-descr {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--Grey);
    margin-bottom: auto;

}

.service-heading {
    font-family: 'Switzer', sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: var(--White);
    margin-bottom: 20px;
}

.button-services {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-services:hover {
    background: var(--White);
    color: var(--Black);
}

.services-works-presentation {
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto;
    row-gap: 8px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .services-container {
        height: 2500px;
        width: auto;
        margin: 0 auto;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 10%)
    }

    .services {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        justify-items: center;
        align-items: start;
    }

    .service-box-1, .service-box-2, .service-box-3, .service-box-4, .service-box-5 {
        grid-column: span 1;
        background-color: var(--DarkGrey);
        background-image:
        radial-gradient(at 39% 23%, var(--DarkGrey) 0px, transparent 50%),
        radial-gradient(at 80% 0%, var(--Graphite) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(221,14%,7%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, var(--DarkGrey) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(221,14%,7%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(232,8%,15%,1) 0px, transparent 50%),
        radial-gradient(at 0% 1%, var(--DarkGrey) 0px, transparent 50%);
        text-align: left;
        padding: 20px;
        width: 100%;
        height: 300px;
    }

    .service-descr {
        font-size: 14px;
        margin-bottom: auto;
    
    }
    
    .service-heading {
        font-size: 24px;
        margin-bottom: 20px;
    }
}



/** SERVICES sub **/

.service-head-image {
    padding-top: 60px;
    width: 58%;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-head {
    margin-top: -50px;
    margin-bottom: 150px;
}

.service-title {
    width: 100%;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: var(--White);
    text-align: left;
    margin-bottom: 50px;
}

.service-head-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 19px;
    color: var(--Grey);
    margin-bottom: 50px;
}

.service-text {
    margin-top: 180px;
    margin-bottom: 180px;
}

.service-btn-content {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.service-tiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

.service-tile-first {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0px;
}

.service-tile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
}

.service-tile-img { 
    flex: 0 1 250px;
}

.service-tile-number { 
    display: none;
}

.service-tile-img img {
    width: 100%;
    height: auto;
}

.service-tile-text { 
    max-width: 60%;
    padding: 20px;
    text-align: left;
}

.service-tile-top-text h3 {
    font-family: 'Switzer', sans-serif;
    font-weight: 700;
    color: var(--White); 
    font-size: 22px;
    margin-bottom: 15px;
}

.service-tile-bottom-text {
    font-family: 'Switzer', sans-serif; 
    font-weight: 300;
    font-size: 19px;
    color: var(--Grey);
    text-align: justify;
}

.ending-service-text {
    text-align: center;
}

.ending-service-btn-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 30px;
}



.opracowanie-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 40px;
    padding: 20px;
}

.opracowanie-tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 45%; 
    min-width: 300px;
    box-sizing: border-box;
    padding: 20px;
}

.opracowanie-tile-text {
    width: 100%;
    text-align: left;
}

.opracowanie-tile-top-text h3 {
    font-family: 'Switzer', sans-serif;
    font-weight: 700;
    color: var(--White);
    font-size: 22px;
    margin-bottom: 15px;
}

.opracowanie-tile-bottom-text {
    font-family: 'Switzer', sans-serif; 
    font-weight: 300;
    font-size: 19px;
    color: var(--Grey);
    text-align: justify;
    margin-bottom: 20px;
}

.opracowanie-tile-list {
    font-family: 'Switzer', sans-serif; 
    font-weight: 300;
    font-size: 19px;
    color: var(--Grey);
    padding-left: 24px;
}

@media (max-width: 768px) {
    .opracowanie-tile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 45%;
        min-width: 300px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .opracowanie-tile-top-text h3 {
        font-family: 'Switzer', sans-serif;
        font-weight: 700;
        color: var(--White);
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .opracowanie-tile-bottom-text {
        font-family: 'Switzer', sans-serif; 
        font-weight: 300;
        font-size: 18px;
        color: var(--Grey);
        text-align: justify;
    }
}



/*audyt*/
.audyt-container {
    height: 100%;
    width: auto;
    margin-bottom: 300px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 14%);
}

/*identyfikacja*/
.identyfikacja-container {
    height: 100%;
    width: auto;
    margin-bottom: 300px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 12%);
}

/*logo*/
.logo-container {
    height: 100%;
    width: auto;
    margin-bottom: 300px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 15%);
}

/*opracowanie*/
.opracowanie-container {
    height: 100%;
    width: auto;
    margin-bottom: 300px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 13%);
}

/*opakowania*/
.opakowania-container {
    height: 100%;
    width: auto;
    margin-bottom: 300px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 17%);
}

/*MOBILE*/
@media (max-width: 768px) {
    .service-head-image {
        padding-top: 40px;
        width: 92%;
        height: auto;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .service-head {
        margin-top: -50px;
        margin-bottom: 110px;
    }

    .service-title {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .service-head-text {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .service-text {
        margin-top: 110px;
        margin-bottom: 110px;
    }

    .service-tiles-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .service-tile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        justify-content: space-around;
    }

    .service-tile-img {
        order: -1;
        flex: 80px;
        max-width: 100%;
        justify-content: flex;
    }

    .service-tile-img img {
        width: 110px;
        height: auto;
        padding-left: 20px;
    }

    .service-tile-text {
        text-align: left;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .service-tile-top-text h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .service-tile-top-text h3 {
        font-size: 18px;
    }

    .service-tile-bottom-text {
        font-size: 18px;
    }


    
    /*audyt*/
    .audyt-container {
        height: 100%;
        width: auto;
        margin-bottom: 250px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 6%);
    }

    /*identyfikacja*/
    .identyfikacja-container {
        height: 100%;
        width: auto;
        margin-bottom: 250px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 6%);
    }

    /*logo*/
    .logo-container {
        height: 100%;
        width: auto;
        margin-bottom: 250px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 7%);
    }

    /*opracowanie*/
    .opracowanie-container {
        height: 100%;
        width: auto;
        margin-bottom: 250px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 5%);
    }

    /*opakowania*/
    .opakowania-container {
        height: 100%;
        width: auto;
        margin-bottom: 250px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 9%);
    }
}




/** ABOUT **/

.about-container {
    height: 100%;
    width: auto;
    margin-bottom: 150px;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 10%);
}

.about-title {
    height: 38px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}

.about-content {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    cursor: default;
}

.about-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

.about-top-text-content h2 {
    font-family: 'Switzer', sans-serif;
    color: var(--White);
    font-size: 24px;
    margin-bottom: 15px;
}

.about-bottom-text-content {
    font-family: 'Switzer', sans-serif;
    color: var(--White);
    font-weight: 300;
    font-size: 18px;
    color: var(--Grey);
}

.about-text-content {
    margin-bottom: 20px;
    text-align: justify;
}

.about-text-content-list {
    margin-bottom: 20px;
    padding-left: 24px;
    list-style-position: outside;
}

.clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.client-logo {
    max-width: 100px;
    filter: brightness(0) invert(1);
    opacity: 0.25;
    transition: opacity 0.2s;
}

.client-logo:hover {
    opacity: 1;
}

@media only screen and (min-width: 768px){
    .about-container {
        height: 100%;
        width: auto;
        margin-bottom: 200px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 24%);
    }
    
    .about-content {
        width: auto;
        margin-left: 22%;
        margin-right: 22%;
        cursor: default;
    }

    .about-text {
        padding-bottom: 50px;
    }
    
    .about-top-text-content h2 {
        font-family: 'Switzer', sans-serif;
        color: var(--White);
        font-size: 27px;
        margin-bottom: 15px;
    }
    
    .about-bottom-text-content {
        font-family: 'Switzer', sans-serif;
        color: var(--White);
        font-weight: 300;
        font-size: 19px;
        color: var(--Grey);
    }

    .about-list-content {
        font-family: 'BDO Grotesk', sans-serif;
        color: var(--White);
        font-weight: 300;
        font-size: 19px;
        color: var(--Grey);
        justify-content: space-between;
        display: grid;
        grid-template-columns: 34% 39%;
    }
    
    .about-left-list-content {
        padding-left: 30px;
    }

    .clients {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 80px;
    }

    .client-logo {
        max-width: 150px;
    }
}

/*faq*/
.accordion {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    background-color: var(--Black);
    color: var(--Grey);
    cursor: pointer;
    padding: 20px 25px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid var(--White);
}

.accordion{
    font-size: 19px;
    margin: 0;
}

.faq-active, .accordion:hover {
    color: var(--Blue);
}

.panel {
    padding: 0px 25px;
    background-color: var(--Black);
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    color: var(--Grey);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: justify;
}

.panel p{
    padding: 20px 0px;
    font-size: 19px;
}

.accordion:after {
    content: "\002B"; /* Unicode character for "plus" sign (+) */
    font-size: 19px;
    color: var(--White);
    float: right;
    margin-left: 5px;
}

.faq-active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
    color: var(--White);
}

@media only screen and (max-width: 768px){
    .accordion{
        font-size: 18px;
    }

    .panel p{
        font-size: 18px;
    }

    .accordion:after {
        font-size: 18px;
    }
}




/** CONTACT **/

.contact-container {
    height: 1000px;
    width: auto;
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 25%);
}

.contact {
    padding-bottom: 60px;
}

.contact-form {
    margin: 50px auto;
    margin-bottom: 40px;
    width: 80%;
}

.contact-form-field {
    margin: 1rem;
}

.contact-form-field input, .contact-form-field textarea {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    resize: none;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem 0.2rem;
    border-radius: 0rem;
    border: 5px solid var(--White);
}

.contact-form-btn {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contact-form-btn:hover {
    background: var(--White);
    color: var(--Black);
}

.email-url {
    text-decoration: none;
    color: var(--White);
}

@media only screen and (min-width: 768px) {
    .contact-container {
        height: 1400px;
        background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 32%);
    }
    
    .contact-form {
        width: 60%;
    }

    .contact-form-field input, .contact-form-field textarea {
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 1rem;
    }

    .contact-form-btn {
        height: 4.4rem;
        width: 15rem;
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        color: var(--White);
        background: var(--Blue);
        border: none;
        border-radius: 3rem;
        display: block;
        margin: 50px auto;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}






/** POSTERS **/

.art-container {
    height: 200px;
    width: auto;
}

.posters-texts {
    height: auto;
    width: 100%;
    margin-bottom: 60px;
}

.posters-title-description {
    font-size: 22px
}

.posters-texts-content {
    text-align: center;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--Grey);
}

@media only screen and (min-width: 400px) {
    .project-content {
        margin-left: 40px;
        margin-right: 40px;
    }

    .posters-title-description {
        font-size: 1rem
    }

    .posters-texts-content {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .project-content {
        margin-left: 40px;
        margin-right: 40px;
    }

    .posters-title-description {
        font-size: 1.3rem
    }
    
    .posters-texts-content {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1100px) {
    .project-content {
        margin-left: 80px;
        margin-right: 80px;
    }

    .posters-texts-content {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .project-content {
        margin-left: 110px;
        margin-right: 110px;
    }

    .posters-texts-content {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1300px) {
    .posters-content {
        margin-left: 140px;
        margin-right: 140px;
    }

    .posters-texts-content {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .project-content {
        margin-left: 170px;
        margin-right: 170px;
    }

    .posters-texts-content {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1500px) {
    .project-content {
        margin-left: 200px;
        margin-right: 200px;
    }

    .posters-texts-content {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1600px) {
    .project-content {
        margin-left: 225px;
        margin-right: 225px;
    }

    .posters-texts-content {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 1900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2100px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 2300px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 2500px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 2700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 2900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .posters-texts-content {
        font-size: 2.6rem;
    }
}






/** MESSAGE SENT **/

.thx-container {
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 55%);
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
}

.thx-logo {
    margin-bottom: 50px;
    text-align: center;
}

.thx-logo-file {
    height: 25px;
    cursor: default;
}

.thx-text {
    text-align: center;
    margin-bottom: 50px;
    color: var(--White);
}

.text {
    font-family: 'Switzer', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 20px;
}

.thx-bottom-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.thx-btn-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.thx-btn {
    height: 4.4rem;
    width: 15rem;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.thx-btn:hover {
    background: var(--White);
    color: var(--Black);
}

.thx-btn-url {
    text-align: center;
    text-decoration: none;
}

.thx-icon {
    height: 26px;
    width: 26px;
    margin: 15px;
    filter: invert(10%);
    transition: all 0.2s ease-in-out;
}

.thx-icon:hover {
    filter: invert(100%);
}

.thx-socials {
    text-align: center;
    margin-top: 30px;
}

.thx-social {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .thx-container {
    background: radial-gradient(circle at 50% 0%, var(--GradientBlue), var(--Black) 50%);
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    }
    
    .thx-text {
        text-align: center;
        margin-bottom: 200px;
        color: var(--White);
    }

    .text {
        font-family: 'Switzer', sans-serif;
        font-weight: 700;
        font-size: 60px;
    }

    .thx-bottom-text {
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .thx-btn {
        height: 4.4rem;
        width: 15rem;
        font-family: 'Switzer', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        color: var(--White);
        background: var(--Blue);
        border: none;
        border-radius: 3rem;
        display: block;
        margin: 0 auto;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .thx-icon {
        height: 26px;
        width: 45px;
        margin: 1px;
        transition: all 0.2s ease-in-out;
    }
}






/** ERROR 404 **/

.a404-img-file {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    display: block;
}

.a404-text-content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 50px;
    color: var(--White);
}

.a404-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.a404-bottom-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

@media only screen and (min-width: 768px) {
    .a404-img-file {
        max-width: 50%;
        height: auto;
        position: absolute;
        z-index: -1;
        display: block;
        margin: auto 25%;
    }

    .a404-text-content {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 200px;
        color: var(--White);
    }
}






/** PRE-FOOTER **/

.pre-footer {
    position: relative;
    background-color: var(--DarkGrey);
    background-image:
    radial-gradient(at 39% 23%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--Graphite) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--DarkGrey) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(221,14%,7%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(232,8%,15%,1) 0px, transparent 50%),
    radial-gradient(at 0% 1%, var(--DarkGrey) 0px, transparent 50%);
    height: 220px;
    width: 100%;
    align-content: center;
}

.pre-footer-text {
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: var(--White);
    margin-right: 5%;
}

.pre-footer-btn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .pre-footer {
        height: 220px;
    }

    .pre-footer-text {
        font-size: 22px;
        color: var(--White);
        text-align: center;
        margin-right: 0;
    }
}







/** FOOTER **/

footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    padding: 20px;
    background: var(--Blue);
}

.footer-content {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftr-logo-file {
    display: none;
}

.ftr-logo-file:hover {
    filter: invert(100%);
}

.ftr-menu {
    display: none;
}

.ftr-menu-link {
    position: relative;
    color: var(--White);
    font-family: 'Switzer', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.ftr-menu-link:hover {
    color: var(--Black);
}

.icon {
    height: 26px;
    width: 26px;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    filter: invert(100%);
}

.social {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    footer {
        bottom: 0;
        height: 200px;
        width: 100%;
        padding: 20px;
        background: var(--Blue);
    }
    
    .footer-content {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
    }
    
    .ftr-logo-file {
        display:inline;
        height: 40px;
        transition: all 0.2s ease-in-out;
    }

    .ftr-menu {
        display: flex;
        position: unset;
        background: transparent;
        gap: 20px;
    }

    .icon {
        height: 26px;
        width: 45px;
        margin: 1px;
        transition: all 0.2s ease-in-out;
    }
}
