@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-VF.ttf")
    format("truetype supports variations"),url("../assets/fonts/Montserrat-VF.ttf")
    format("truetype-variations");
    font-weight: 700 900;
}

@font-face {
    font-family: 'BDO Grotesk';
    src: url("../assets/fonts/BDOGrotesk-VF.ttf")
    format("truetype supports variations"),url("../assets/fonts/BDOGrotesk-VF.ttf")
    format("truetype-variations");
    font-weight: 300 400 600 900;
}






html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--Black);
}

:root {
    /* Colors */
    --White: #f3f3f3;
    --Grey: #b1b1b1; 
    --Black: #050505;
    --Blue: #3251ff;
}

::selection {
    color: var(--Blue);
    background: var(--White);
}






/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 2rem;
    position: sticky;
    top: 0;
    background: var(--Black);
    z-index: 100;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.8rem;
    color: var(--White);
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at 50% 0%, #192a88, #050505 45%);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
}

.menu.active {
    transform: translateX(0);
    display: flex;
}

.menu-link {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    color: var(--White), none;
    text-decoration: none;
    cursor: pointer;
}

.logo-file {
    height: 40px;
}

.burger {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    position: relative; 
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active span {
    background: var(--White);
}

.burger > span {
    width: 100%;
    height: 0.125rem;
    border-radius: 0rem;
    background: var(--Blue);
    transition: all 0.3s ease-in-out;
}

.burger.active > :nth-child(1) {
    transform: rotate(-45deg) translateY(1rem);
}

.burger.active > :nth-child(2) {
    transform: translateX(100vw);
    display: none;
}

.burger.active > :nth-child(3) {
    transform: rotate(45deg) translateY(-0.9rem);
}


/* DESKTOP MENU */

@media only screen and (min-width: 768px) {
    header {
        padding: 25px 320px;
    }

    .burger {
        display: none;
    }

    .menu {
        display: flex;
        position: unset;
        background: transparent;
        color: var(--White);
        list-style: none;
        flex-direction: row;
        height: inherit;
        width: max-content;
        gap: 2.2rem;
        font-size: 19px;
        font-weight: normal;
        align-items: center;
        transform: translateX(0);
    }

    .menu-link {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover {
        color: var(--Blue);
    }
}






/* INTRO */

.intro {
    background: radial-gradient(circle at 50% 100%, #192a88, #050505 45%); 
    padding-top: 100px;
    padding-bottom: 500px;
    text-align: center;
}

.intro-text {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: var(--White);
}

.intro-buttons {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.buttons {
    padding-top: 100px;
}

.intr-button-about {
    height: 4.6rem;
    width: 20rem;
    margin-bottom: 30px;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    background: transparent;
    color: var(--White);
    border-style: double;
    border-color: var(--Blue);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.intr-button-about:hover {
    background: var(--White);
    border-color: var(--White);
    color: var(--Black);
}

.intr-button-contact {
    height: 4.6rem;
    width: 20rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.intr-button-icon {
    margin-left: 5px;
    height: 11px;
    transition: all 0.3s ease-in-out;
}

.intr-button-contact:hover {
    background: var(--White);
    color: var(--Black);
}

.intr-button-contact:hover > .intr-button-icon  {
    filter: invert(80%)
}

.button-intro-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .intro-text {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        font-size: 88px;
    }

    .intr-button-about {
        height: 4.6rem;
        width: 18rem;
        margin-right: 10px;
        font-size: 1.1rem;
        border-radius: 3rem;
    }

    .intr-button-contact {
        height: 4.6rem;
        width: 18rem;
        margin-left: 10px;
        font-size: 1.1rem;
        border-radius: 3rem;
    }
}






/* REVIEWS */

.reviews-section {
    width: auto;
    height: 1100px;
    padding: 20px;
    background: var(--White);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.review-container {
    width: 400px;
    height: 370px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: var(--Blue);
    border-radius: 70px;
}

.review-container-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.review-container-middle {
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}

.review-name {
    color: var(--Black);
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.review-stars {
    height: 16px
}

.review-text {
    color: var(--White);
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.review-button {
    align-items: center;
    height: 2.7rem;
    width: 2.7rem;
    background: transparent;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.review-button:hover {
    background: var(--White);
}

.review-button-icon {
    height: 20px;
}

.review-button-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .reviews-section {
        height: 1000px;
        width: auto;
        padding-left: 290px;
        padding-right: 290px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .review-container {
        width: 600px;
        height: 280px;
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        background: var(--Blue);
        border-radius: 70px;
    }

    .reviews {
        display: flex;
        justify-content: space-evenly;
        gap: 150px;
    }
}






/*SECTION TITLE */

.section-title {
    width: 100%;
    height: 200px;
}

.title-text {
    position: absolute;
    width: 100%;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: var(--White);
    text-align: center;
    padding-top: 120px;
}

.title-description {
    font-size: 22px;
}

@media only screen and (min-width: 768px) {
    .section-title {
        width: 100%;
        height: 240px;
    }

    .title-text {
        position: center;
        width: 100%;
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: var(--White);
        text-align: center;
        padding-top: 120px;
    }

    .title-description {
        font-size: 22px;
    }
}






/* PROJECTS */

.projects-section {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 35px;
}

.projects {
    margin-bottom: 90px;
}

.project-img {
    height: auto;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.project-img:hover {
    filter: invert(100%);
}

.project-url {
    color: var(--White);
    text-decoration: none;
}

.project-url-p {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.meta {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 15px;
}


@media only screen and (min-width: 768px) {
    .projects-section {
        width: auto;
        margin-left: 290px;
        margin-right: 290px;
    }

    .projects {
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 10px;
        row-gap: 69px;
        margin-bottom: 90px;
    }

    .project-img {
        height: auto;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .project-img:hover {
        filter: invert(100%);
    }

    .project-url {
        color: var(--White);
        text-decoration: none;
    }

    .project-url-p {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
    }

    .meta {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        margin-top: 9px;
    }
}






/* PROJECTS SUBPAGES */

.project-content {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 200px;
}

.project-texts {
    height: auto;
    width: 100%;
    margin-bottom: 60px;
}

.projects-texts-content {
    text-align: center;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--Grey);
}

.in-project-url {
    text-decoration: none;
    color: var(--Blue);
}

.project-images {
    display: grid;
    grid-template-columns: 100%;
    grid-row: auto;
    row-gap: 8px;
}

.prjct-img {
    height: auto; 
    width: 100%;
}

.image {
    margin-bottom: 8px;
}

.project-btn-content {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-btn {
    height: 4.6rem;
    width: 18rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-btn:hover {
    background: var(--White);
    color: var(--Black);
}

.project-btn-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .project-content {
        margin-left: 40px;
        margin-right: 40px;
    }

    .projects-texts-content {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1100px) {
    .project-content {
        margin-left: 80px;
        margin-right: 80px;
    }

    .projects-texts-content {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .project-content {
        margin-left: 110px;
        margin-right: 110px;
    }

    .projects-texts-content {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1300px) {
    .project-content {
        margin-left: 140px;
        margin-right: 140px;
    }

    .projects-texts-content {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .project-content {
        margin-left: 170px;
        margin-right: 170px;
    }

    .projects-texts-content {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1500px) {
    .project-content {
        margin-left: 200px;
        margin-right: 200px;
    }

    .projects-texts-content {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1600px) {
    .project-content {
        margin-left: 225px;
        margin-right: 225px;
    }

    .projects-texts-content {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 1900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2100px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 2300px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 2500px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 2700px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 2900px) {
    .project-content {
        margin-left: 250px;
        margin-right: 250px;
    }

    .projects-texts-content {
        font-size: 2.6rem;
    }
}






/* PROJECTS BUTTON */

.projects-button {
    text-align: center;
    padding-bottom: 150px;
}

.projects-button-go {
    height: 4.6rem;
    width: 20rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.projects-button-go:hover {
    background: var(--White);
    color: var(--Black);
}

.projects-button-go-url {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .projects-button-go {
        height: 4.6rem;
        width: 18rem;
        font-size: 1.1rem;
        border-radius: 3rem;
    }
}






/* ABOUT PAGE */

.about-container {
    height: 2100px;
    width: auto;
    background: radial-gradient(circle at 50% 0%, #192a88, #050505 45%);
}

.about-title {
    height: 38px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}

.about-content {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    cursor: default;
}

.about-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

.about-top-text-content {
    font-family: 'BDO Grotesk', sans-serif;
    color: var(--White);
    margin-bottom: 15px;
}

.about-bottom-text-content {
    font-family: 'BDO Grotesk', sans-serif;
    color: var(--White);
    font-weight: 300;
    font-size: 18px;
    color: var(--Grey);
}

.about-text-content {
    margin-bottom: 20px;
}

.about-list-content {
    margin-bottom: 100px;
    font-family: 'BDO Grotesk', sans-serif;
    color: var(--White);
    font-weight: 300;
    font-size: 18px;
    color: var(--Grey);
    justify-content: start;
}

.about-left-list-content {
    padding-left: 30px;
}

.about-right-list-content {
    padding-left: 30px;
}

@media only screen and (min-width: 768px){
    .about-container {
        height: 2000px;
    }
    
    .about-content {
        width: auto;
        margin-left: 22%;
        margin-right: 22%;
        cursor: default;
    }

    .about-text {
        padding-bottom: 50px;
    }
    
    .about-top-text-content {
        font-family: 'BDO Grotesk', sans-serif;
        color: var(--White);
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .about-bottom-text-content {
        font-family: 'BDO Grotesk', sans-serif;
        color: var(--White);
        font-weight: 300;
        font-size: 19px;
        color: var(--Grey);
    }

    .about-list-content {
        font-family: 'BDO Grotesk', sans-serif;
        color: var(--White);
        font-weight: 300;
        font-size: 19px;
        color: var(--Grey);
        justify-content: space-between;
        display: grid;
        grid-template-columns: 34% 39%;
    }
    
    .about-left-list-content {
        padding-left: 30px;
    }
}






/* CONTACT PAGE */

.contact-container {
    background: radial-gradient(circle at 50% 0%, #192a88, #050505 45%);
}

.contact {
    padding-bottom: 60px;
}

.contact-form {
    margin: 50px auto;
    margin-bottom: 400px;
    width: 80%;
}

.contact-form-field {
    margin: 1rem;
}

.contact-form-field textarea {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
}

.contact-form label {
    display: block;
    margin-bottom: 0.2rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: var(--White);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.2rem;
    border: 5px solid var(--White);
}

.contact-form-btn {
    height: 4.6rem;
    width: 20rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contact-form-btn:hover {
    background: var(--White);
    color: var(--Black);
}

@media only screen and (min-width: 768px) {
    .contact-form {
        width: 65%;
    }

    .contact-form-field textarea {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
    }

    .contact-form label {
        display: block;
        margin-bottom: 0.2rem;
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        color: var(--White);
    }

    .contact-form-btn {
        height: 4.6rem;
        width: 20rem;
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        color: var(--White);
        background: var(--Blue);
        border: none;
        border-radius: 3rem;
        display: block;
        margin: 50px auto;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}






/* THANKS PAGE */

.thx-container {
    background: radial-gradient(circle at 50% 0%, #192a88, #050505 45%);
    padding-top: 200px;
    padding-left: 22%;
    padding-right: 22%;
    cursor: default;
}

.thx-logo {
    margin-bottom: 50px;
    text-align: center;
}

.thx-logo-file {
    height: 25px;
    cursor: default;
}

.thx-text {
    text-align: center;
    margin-bottom: 200px;
    color: var(--White);
}

.text {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.thx-bottom-text {
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.thx-btn-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.thx-btn {
    height: 4.6rem;
    width: 20rem;
    font-family: 'BDO Grotesk', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--White);
    background: var(--Blue);
    border: none;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.thx-btn:hover {
    background: var(--White);
    color: var(--Black);
}

.thx-btn-url {
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .thx-text {
        text-align: center;
        margin-bottom: 200px;
        color: var(--White);
    }

    .text {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 700;
        font-size: 60px;
    }

    .thx-bottom-text {
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .thx-btn {
        height: 4rem;
        width: 15rem;
        font-family: 'BDO Grotesk', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        color: var(--White);
        background: var(--Blue);
        border: none;
        border-radius: 2rem;
        display: block;
        margin: 0 auto;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}






/* FOOTER */

footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    padding: 20px;
    background: var(--Blue);
}

.footer-content {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftr-logo-file {
    display: none;
}

.ftr-logo-file:hover {
    filter: invert(100%);
}

.ftr-menu {
    display: none;
}

.ftr-menu-link {
    position: relative;
    color: var(--White);
    font-family: 'BDO Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.ftr-menu-link:hover {
    color: var(--Black);
}

.icon {
    height: 30px;
    width: 30px;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    filter: invert(100%);
}

.social {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    footer {
        bottom: 0;
        height: 200px;
        width: 100%;
        padding: 20px;
        background: var(--Blue);
    }
    
    .footer-content {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
    }
    
    .ftr-logo-file {
        display:inline;
        height: 40px;
        transition: all 0.3s ease-in-out;
    }

    .ftr-menu {
        display: flex;
        position: unset;
        background: transparent;
        gap: 20px;
    }

    .icon {
        height: 26px;
        width: 45px;
        margin: 1px;
        transition: all 0.3s ease-in-out;
    }
}
